[id^="column"] {
    /* background-color: rgb(188, 249, 255); */
    color: rgb(0, 0, 0);
}

#container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.row {
    height: 60px; /* adjust as needed */
    width: 60px; /* adjust as needed */
}