body {
    display: flex;
    flex-direction: row;
    background-image: url(https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVsYXhpbmclMjBieSUyMHRoZSUyMGJlYWNofGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 97%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    /* top: 2%;
    left: 22.5%; */
    border-width: 5px; 
    border-style: solid; 
    border-color: black;
    margin-left: 25%;
}

button {
    font-size: larger;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
}